---
const year = new Date().getFullYear()
const title = "Anako"
---

<footer
    class="bg-black text-white text-center p-1 text-xs"
>
    {
        (<p>&copy; {year} {title}</p>)
    }
    <p>Developed by <a class="text-yellow-500" href="https://iraklitbz.dev/">iraklitbz</a></p>
</footer>