---
import Menu from './Menu.astro'
---

<div
    class="bg-black shadow-sm fixed top-0 left-0 right-0 z-50"
>
    <header
        class="flex items-center justify-between px-10 py-5 h-16 mx-auto max-w-xl md:max-w-7xl"
    >
        <h1
            class="text-white"
        >
            <a class="logo text-2xl hover:motion-preset-confetti" href="/"> 
                <b>Anako Turashvili</b>
            </a>
        </h1>
        <Menu />
    </header>
</div>