---
import Menu from './Menu.astro'
---

<header
    class="flex items-center justify-between px-10 py-5 mx-auto max-w-xl md:max-w-7xl"
>
    <h1>
        <a href="/">Anako</a>
    </h1>
    <Menu />
</header>