---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
    <ViewTransitions />
	</head>
    <body
      class="pt-20"
    >
        <Header />
	      <slot />
        <!-- <Footer /> -->
    </body>
</html>

<style is:global>
    @keyframes bump {
      0% {
        opacity: 0;
        transform: scale(1) translateX(200px);
      }
      50% {
        opacity: 0.5;
        transform: scale(1.1);
      }
      100% {
        opacity: 1;
        transform: scale(1) translateX(0);
      }
    }
  </style>